*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
*.ipr
*.iws
.idea/
/build
/captures
/externalNativeBuild
/local.properties
.DS_Store

# Kotlin
.kotlin/

# Gradle
.gradle/
build/
